<section>
  <div class="container pb-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img
          src="./../../assets/login.cover.jpg"
          class="img-fluid"
          alt="Phone image"
        />
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <form [formGroup]="updateRequestForm" (ngSubmit)="onSubmit()">
          <!-- Project input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="project-id">Project</label>
            <select
              id="project-id"
              class="form-control form-control-lg"
              formControlName="projectId"
              (change)="updateRemainingBudget()"
            >
              <option value="" disabled selected>Select Project</option>
              <option
                *ngFor="let project of projects"
                [value]="project.projectId"
              >
                {{ project.projectName }}
              </option>
            </select>
          </div>

          <!-- Budget Remaining input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="amount"
              >Budget Remaining (&#8377;)</label
            >
            <input
              type="number"
              id="amount"
              class="form-control form-control-lg"
              formControlName="remainingBudget"
            />
          </div>

          <!-- Amount input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="amount">Amount (&#8377;)</label>
            <input
              type="number"
              id="amount"
              class="form-control form-control-lg"
              formControlName="amount"
              (change)="updateRemainingBudget()"
            />
          </div>

          <!-- Vendor input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="vendor-id">Vendor</label>
            <select
              id="vendor-id"
              class="form-control form-control-lg"
              formControlName="vendorId"
              (change)="updateSelectedVendor()"
            >
              <option value="" disabled selected>Select Vendor</option>
              <option *ngFor="let vendor of vendors" [value]="vendor.vendorId">
                {{ vendor.vendorName }}
              </option>
            </select>
          </div>

          <!-- Description input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="description">Description</label>
            <textarea
              id="description"
              class="form-control form-control-lg"
              placeholder="Request Description"
              rows="3"
              formControlName="description"
            ></textarea>
          </div>

          <!-- Deadline input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="deadline">Deadline</label>
            <input
              type="date"
              id="deadline"
              class="form-control form-control-lg"
              formControlName="deadline"
              [min]="todaysDate"
            />
          </div>

          <!-- Submit button -->
          <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary btn-lg">
              Update Request
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
