<div class="form-group pb-5">
  <div class="input-group mb-2">
    <span class="input-group-text">Project Id</span>
    <input
      type="text"
      class="form-control bg-white"
      placeholder="Project Id"
      [value]="project.id"
      disabled
    />
  </div>
  <div class="input-group mb-2">
    <span class="input-group-text">Project Name</span>
    <input
      type="text"
      class="form-control bg-white"
      placeholder="Project Name"
      [value]="project.project_name"
      disabled
    />
  </div>
  <div class="input-group mb-2">
    <span class="input-group-text">Description</span>
    <input
      type="text"
      class="form-control bg-white"
      placeholder="Project Description"
      [value]="project.description"
      disabled
    />
  </div>
  <div class="input-group mb-2">
    <span class="input-group-text">User ID</span>
    <input
      type="text"
      class="form-control bg-white"
      placeholder="User Id"
      [value]="project.user_id"
      disabled
    />
  </div>
  <div class="input-group mb-2">
    <span class="input-group-text">User Name</span>
    <input
      type="text"
      class="form-control bg-white"
      placeholder="User Name"
      [value]="project.user_name"
      disabled
    />
  </div>
  <div class="input-group mb-2">
    <span class="input-group-text">Budget (&#8377;)</span>
    <input
      type="number"
      class="form-control bg-white"
      placeholder="Budget"
      [value]="project.budget"
      disabled
    />
  </div>
</div>
