<!-- <div class="progresses m-3">
  <div
    class="steps"
    matTooltip="Approver Name, Approved time and Comments Given by the Approver"
  >
    <span><i class="fa fa-check"></i></span>
  </div>

  <span class="line b-success"></span>

  <div class="steps bg-info">
    <span><i class="fa fa-clock-o" aria-hidden="true"></i></span>
  </div>

  <span class="line bg-light"></span>

  <div class="steps bg-light">
    <span class="font-weight-bold">3</span>
  </div>
</div>

<div class="progresses m-3">
  <div class="steps">
    <span><i class="fa fa-check"></i></span>
  </div>

  <span class="line b-success"></span>

  <div class="steps bg-danger">
    <span><i class="fa fa-times"></i></span>
  </div>

  <span class="line bg-light"></span>

  <div class="steps bg-light">
    <span class="font-weight-bold">3</span>
  </div>
</div> -->

<div class="row d-flex align-items-center justify-content-center h-100 h2 mb-3">
  Request - {{ request.id }}
</div>

<div class="form-group pb-5">
  <div class="input-group mb-2">
    <span class="input-group-text">Request Id</span>
    <input
      type="text"
      class="form-control bg-white"
      [value]="request.id"
      disabled
    />
  </div>
  <div class="input-group mb-2">
    <span class="input-group-text">Raised By</span>
    <input
      type="text"
      class="form-control bg-white"
      [value]="request.raised_by_name"
      disabled
    />
  </div>
  <div class="input-group mb-2">
    <span class="input-group-text">Project</span>
    <input
      type="text"
      class="form-control bg-white"
      [value]="request.project_name"
      disabled
    />
  </div>
  <div class="input-group mb-2">
    <span class="input-group-text">Amount (&#8377;)</span>
    <input
      type="number"
      class="form-control bg-white"
      [value]="request.amount"
      disabled
    />
  </div>
  <div class="input-group mb-2">
    <span class="input-group-text">Status</span>
    <input
      type="text"
      class="form-control bg-white"
      [value]="request.status"
      disabled
    />
  </div>
  <div class="input-group mb-2">
    <span class="input-group-text">Description</span>
    <input
      type="text"
      class="form-control bg-white"
      [value]="request.description"
      disabled
    />
  </div>
  <div class="input-group mb-2">
    <span class="input-group-text">Deadline Date</span>
    <input
      type="text"
      class="form-control bg-white"
      [value]="request.deadline_datetime | date: 'fullDate'"
      disabled
    />
  </div>
  <div class="input-group mb-2">
    <span class="input-group-text">Created Date</span>
    <input
      type="text"
      class="form-control bg-white"
      [value]="request.created_datetime | date: 'fullDate'"
      disabled
    />
  </div>
</div>
