<span>Request UUID: {{ requestUuid }}</span>
<div class="progresses m-3">
  <div
    class="steps"
    matTooltip="Approver Name, Approved time and Comments Given by the Approver"
  >
    <span><i class="fa fa-check"></i></span>
  </div>

  <span class="line b-success"></span>

  <div class="steps bg-info">
    <span><i class="fa fa-clock-o" aria-hidden="true"></i></span>
  </div>

  <span class="line bg-light"></span>

  <div class="steps bg-light">
    <span class="font-weight-bold">3</span>
  </div>
</div>

<div class="progresses m-3">
  <div class="steps">
    <span><i class="fa fa-check"></i></span>
  </div>

  <span class="line b-success"></span>

  <div class="steps bg-danger">
    <span><i class="fa fa-times"></i></span>
  </div>

  <span class="line bg-light"></span>

  <div class="steps bg-light">
    <span class="font-weight-bold">3</span>
  </div>
</div>
