<section>
    <div class="container pb-5 h-100">
      <div class="row d-flex align-items-center justify-content-center h-100">
        <div class="col-md-8 col-lg-4 col-xl-4">
          <img
            src="./../../assets/reset-password.jpg"
            class="img-fluid"
            alt="Phone image"
          />
        </div>
        <div class="col-md-7 col-lg-3 col-xl-5 offset-xl-1">
            <form [formGroup]="resetPasswordForm" style="text-align: left; ">
                <!-- Email address input -->
                <div  class="form-group form-outline mb-4">
                  <input
                    type="newpassword"
                    id="newpassword"
                    class="form-control form-control-lg"
                    formControlName="newPassword"
                  />
                  <label class="form-label" for="newpassword">New Password</label>
                </div>
                <div  class="form-group form-outline mb-4">
                    <input
                    type="confirmpassword"
                    id="confirmpassword"
                    class="form-control form-control-lg"
                    formControlName="confirmPassword"
                  />
                  <label class="form-label" for="confirmpassword">Confirm Password</label>
                </div>
          
                <!-- Submit button -->
                <div class="d-grid gap-2">
                  <button type="submit" class="btn btn-primary btn-lg" (click) = "resetPassword()">
                    Reset Password
                  </button>
                </div>
              </form>
        </div>
      </div>
    </div>
  </section>
  