<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Finance Management System</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item" *ngIf="auth.isAuthenticated()">
          <a
            class="nav-link"
            class="nav-link"
            routerLink="/home"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Home</a
          >
        </li>
        <li class="nav-item" *ngIf="!auth.isAuthenticated()">
          <a
            class="nav-link"
            routerLink="/login"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Login</a
          >
        </li>
        <li class="nav-item" *ngIf="!auth.isAuthenticated()">
          <a
            class="nav-link"
            routerLink="/register"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Registration</a
          >
        </li>
        <li class="nav-item" *ngIf="auth.isAuthenticated()">
          <a
            class="nav-link"
            routerLink="/requests"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Requests</a
          >
        </li>
        <li class="nav-item" *ngIf="auth.isAuthenticated()">
          <a
            class="nav-link"
            routerLink="/payments"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Payments</a
          >
        </li>
        <li class="nav-item" *ngIf="auth.isAuthenticated()">
          <a
            class="nav-link"
            routerLink="/users"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Users</a
          >
        </li>
        <li class="nav-item" *ngIf="auth.isAuthenticated()">
          <a
            class="nav-link"
            routerLink="/projects"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Projects</a
          >
        </li>
        <li class="nav-item" *ngIf="auth.isAuthenticated()">
          <a
            class="nav-link"
            routerLink="/vendors"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Vendors</a
          >
        </li>
        <li class="nav-item" *ngIf="auth.isAuthenticated()">
          <a
            class="nav-link"
            routerLink="/logout"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Logout</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
