<section>
    <div class="container pb-5 h-100">
      <div class="row d-flex align-items-center justify-content-center h-100">
        <div class="col-md-8 col-lg-4 col-xl-4">
          <img
            src="./../../assets/forgot-password.jpg"
            class="img-fluid"
            alt="Forgot Password"
          />
        </div>
        <div class="col-md-7 col-lg-3 col-xl-5 offset-xl-1">
            <form style="text-align: left; ">
                <!-- Email address input -->
                <div class="form-outline mb-4">
                  <label class="form-label" for="email">Email address</label>
                      <input
                        type="email"
                        id="email"
                        name="email"
                        class="form-control form-control-lg"
                        [(ngModel)]="email"
                      />
                </div>
                <!-- <div class="form-outline mb-4">
                  <input
                    type="number"
                    id="otp"
                    name="otp"
                    class="form-control form-control-lg"
                    [(ngModel)]="otp"
                  />
                  <label class="form-label" for="email">OTP</label>
                </div> -->
          
                <!-- Submit button -->
                <div class="d-grid gap-2">
                  <!-- <button type="submit" class="btn btn-primary btn-lg" (click)="sendResetPasswordEmail()">
                    Reset Password
                  </button> -->
                  <button type="submit" class="btn btn-primary btn-lg" (click)="sendResetPasswordEmail()">
                    Send Reset Password Email
                  </button>
                </div>
              </form>
        </div>
      </div>
    </div>
  </section>
  